* {
    --primary-color: rgb(51, 51, 51);
    color: #FFFFFF;
    font-family: "Audiowide", sans-serif;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

#about, #skills, #contact {
    background-color: rgb(40, 40, 40);
}

.navbar, .offcanvas, .card {
    background-image: url(./assets/background.png);
    background-size: contain;
}

.offcanvas {
    height: max-content;
}

span {
    color: rgba(0, 255, 255, 0.9);
}

.navbar {
    border-bottom: 1px solid rgba(0, 255, 255, 0.1);
}

.navbar a {
    color: #FFFFFF;
}

.navbar-nav .nav-link:hover {
    color: rgba(0, 255, 255, 0.9);
}

.navbar-nav .nav-link.active {
    color: rgba(0, 255, 255, 0.9) !important;
}

.navbar .navbar-toggler {
    border-color: rgba(0, 255, 255, 0.9) !important;
}

.custom-toggler-icon .line1, .line2, .line3 {
    fill: rgba(0, 255, 255, 0.9);
}

.btn-close {
    background-color: rgba(0, 255, 255, 0.9) !important;
}

.name {
    font-size: 3rem;
}

.btn:hover {
    box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.9);
    transition: all 1s ease;
}

i {
    color: rgba(0, 255, 255, 0.9);
    font-size: 2rem;
}

.social-icons i:hover {
    text-shadow: 0px 0px 15px rgba(0, 255, 255, 0.9);
    transition: all 1s ease;
}

img {
    filter: drop-shadow(0 0 0.75rem rgba(0, 255, 255, 0.5));
}

#skills {
    height: 60vh;
}

.skills-container {
    width: 100%;
    overflow: hidden;
  }

  .skills-container img {
    filter: none;
    width: 180px;
    height: auto;
    display: inline-block;
    animation: scroll 20s linear infinite;
}

  @keyframes scroll {
    0% {
      transform: translateX(700%);
}
    100% {
      transform: translateX(-700%);
}
}

.pro-card {
    position: relative;
    overflow: hidden;
}

.pro-card-body {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333340;
    color: rgba(0, 255, 255, 0.9);
    padding: 20px;
    transform: translateY(100%);
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
}
    to {
        transform: translateY(50%);
}
}

.pro-card:hover .pro-card-body {
    display: block;
}

.pro-card .card-img {
    transition: filter 0.3s ease;
}

.pro-card:hover .card-img {
    filter: blur(5px);
}

.form-body {
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.9);
    width: 50%;
    margin: auto;
}

.form-body .message-field {
    width: 77%;
    margin: auto;
}